body {
    width: 90%;
    margin: auto;
}
p {
    font-family: sans-serif;
    word-spacing: 2px;
    line-height: 1.5em;
    color: rgb(83, 82, 82);
}
a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1em;
    color: rgb(58, 5, 107);
    font-family: sans-serif;
    border: 1px solid transparent;
    padding: .2em .5em;
}
a:visited {
    text-decoration: 2px red underline;
}
a:hover {
    text-decoration: 2px rgb(3, 138, 71) underline;
}
q{
    width: 50%;
    font-size: 160%;
    border-left-style: dashed;
    display: block;
    margin: 80px auto;
    font-style: italic;
    align-self: center;
    padding-left: 30px;
    background-color: rgb(226, 222, 222);
    border-left: 3px rgb(14, 12, 12);
}